{% extends "base.html" %}


{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}
    {% trans 'Sing up' %}
{% endblock %}
{% block content %}


    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="container">
        <div class="row">
          <div class="col">
            {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
          </div>
    </div>
            
    </form>

{% endblock %}