{% extends "base.html" %}
{% load i18n %}


{% block title %}
    {% trans 'Labels' %}
{% endblock %}
{% block content %}
    <h1 class="m-4">{% trans 'Labels' %}</h1>
    <a href="{% url 'create_label' %}">{% trans 'Create Label' %}</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>{% trans 'name' %}</th>
                <th>{% trans 'Creation date' %}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% if labels_list %}
                {% for label in labels_list %}
                    <tr>
                        <td>{{ label.id }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
                        <td>
                          <a href="{% url 'update_label' pk=label.id %}">{% trans 'Update' %}</a>
                          <br>
                          <a href="{% url 'delete_label' pk=label.id %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}